.books-container {
  width: 100%;
  padding: 5px;
}

.main-title {
  font-size: 28px;
  margin-bottom: 20px;
  color:#f39c12;
}

.books-grid {
  display: flex;
  justify-content: space-between;
}

.book-card {
  background: hwb(0 100% 0%);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
 display: flex;
 justify-content: center;
margin: 10px;


}
.book-card:hover {
  transform: translateY(-5px);
}

.card{
    margin: 35px;
}
.book-img { 
width: 100%;
height: 250px;
  
}

.book-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.book-subtitle {
  color: #777;
  margin-bottom: 10px;
}

.book-desc {
  font-size: 14px;
  color: #555;
}

.book-author {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}

.book-rate {
  margin: 6px 0;
  font-weight: bold;
  color: #ff9900;
}

.prices {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.old {
  text-decoration: line-through;
  color: #888;
}

.new {
  color: #27ae60;
  font-weight: bold;
}

.cart-btn {
  width: 100%;
  padding: 10px;
  background: #f39c12;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.cart-btn:hover {
  background: #d68910;
}