.style{
    display: flex;
    justify-content: center;
    background-color: #f7f3ed;
   
   
}
.dis{
    display: flex;
    gap:40px;
    direction: ltr;
    padding: 40px;
    align-items: center;
    flex-direction: row-reverse;
}
.imaa{
   flex: .6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e9d4b4;
    background-color: #fcefe2;
   
    border-radius: 10px;
}
.imaage{
    width: 70%;
    padding: 40px;
}
.details{
 flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}
.heroo{
    color: #dc7b3a;
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-weight: bold;
}
.title{
    color: #555;
    font-size: 1rem;
    margin-bottom: 30px;
    line-height: 1.5;
}
.butt{
   background-color: #dc7b3a;
   color: white;
   padding: 12px 30px;
   border-radius: 8px;
   align-self:self-end;
}